.add-new{
	background-color: #333;
}

input {
	width:100%;
}
tbody tr td{
	padding:4px;
}

.deleteAll{
	text-align: center;
}

.row-size{
	width:50%;
}

.gu-mirror{position:fixed!important;margin:0!important;z-index:9999!important;opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80)}.gu-hide{display:none!important}.gu-unselectable{-webkit-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important}.gu-transit{opacity:.2;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";filter:alpha(opacity=20)}


.full-width{
	width:100%;
}

.result-table {
	
}

.minimize {
	display : none;
}

.minimizer {
	width : 100%;
	background-color : #87b5de;
	border-color : #73a9d9;
}

table {
	margin : 0px;
}